<div class="cat-block" data-id="<%= cat.id %>">
    <h2 class="cat-name"></h2>
    <div class="cat-count">Poll: <span><%= cat.counter %></span></div>
    <img class="cat-img" src="<%= cat.image %>" width="160" alt="<%= cat.name %>">
</div>
