<div id="content">
</div>

<script>

//var hello_html = JST["templates/hello"]( { name: "ihower"} );
//$("#content").prepend( hello_html );

var app = {
  cats: [],
  init: function(){
    var that = this;
    $.ajax({
      type: "GET",
      dataType: "json",
      url : "/cats",
      success: function(data){
        that.cats = data;
        console.log( data );
        that.render_cat_list()
        that.render_cat( data[0] )
      }
    })
  },
  render_cat_list: function(){
    cats_list_html = JST["templates/cat_list"]( { cats: this.cats } )
    $("#content").prepend( cats_list_html );

    var that = this;
    $("#cat-list a").click(function(e){
      e.preventDefault();
      cat_id = $(this).data("id");
      that.render_cat( that.cats[cat_id-1] )
    })
  },
  render_cat: function(cat) {
    $(".cat-block").remove();
    cat_html = JST["templates/cat"]( { cat: cat } )
    $("#content").append( cat_html );
    var that = this;
    $(".cat-block .cat-img").click(function(){
      cat.counter = cat.counter + 1;
      that.render_cat(cat);
    })
  }

}

app.init();

</script>
